<head>
<link rel="stylesheet" type="text/css" href="styles/desktop.css">
</head>
</br>
</br>
</br>
</br>
<center><div id="sign_in">
</br>
<form method="POST" action="/edit-profile-process">
	</br>
		<div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="email">E-Mail</label>
			<input type="email" required name="email" class="editfield">
		</div>
	</br>
		<div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="password">Password</label>
			<input type="password" required name="password" class="editfield">
		</div>
	</br>
		<div>
			<input type="submit" name="submit" value="Save Changes" id="editsubmit">
		</div>
	</br>
		<div><a href="/sign-in2"><div>Delete Account</div></a></br></div>
	</div>
</form>
</div>
</div></center>