<head>
<link rel="stylesheet" type="text/css" href="/styles/desktop.css">
</head>
<center><div id="content">
	sagsgsag
	asgsagasgas
	asgasgasg
<!DOCTYPE html>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOVWJgVvPiDyxzyRW9LSxrKADUCjkdvJU"
        type="text/javascript">
      </script>
      <script type="text/javascript">
        function initialize() {
        var mapOptions = {
          zoom: 18,
          center: new google.maps.LatLng(40.74769, -74.004168)
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(40.74769, -74.004168),
          map: map,
          title:"Hello World!"

        });

      }

      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?signed_in=true&v=3.exp&' +
            'callback=initialize';
        document.body.appendChild(script);
      }

      window.onload = loadScript;
    </script>
  </head>
  <body>
    <div id="map-canvas" style="width: 100%; height: 100%"></div>
  </body>
</html>
</div></center>
</div></center>
<div id="cover">
  <a href="/sign-in">
    <div id="painting1">
      </br></br>
      <center>Sign-In</center>
    </div>
  </a>
</div>
<div id="cover">
  <a href="/user/<%=User.find(session[:user_id]).id%>">
    <div id="painting2">
      </br></br>
      <center>My Profile</center>
    </div>
  </a>
</div>
<div id="painting3">
</div>
<div id="painting4">
</div>
