<head>
<link rel="stylesheet" type="text/css" href="styles/desktop.css">
</head>
</br>
</br>
</br>
<center><div id="sign_in">
</br>
</br>
<label for="Signin" style="font-size:32px;">&nbsp;&nbsp;&nbsp;&nbsp;Sign In To Delete Account</label>
</br>
</br>
<form method="POST" action="/sign-in-process2">
	<label for="username">Username: </label>
	<input type="text" required name="username">

	<label for="password">Password: </label>
	<input type="password" required name="password">

	<input type="submit" required name="submit" value="Login">
</form>
</div></center>